<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">


<th:block layout:fragment="css">
    <link th:href="@{/css/login.css}" rel="stylesheet">
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/member.js}"></script>
</th:block>

<div layout:fragment="content">

    <div class="intro">

        <div class="leftForm">
            <img th:class="loginI" th:src="@{/image/login-1.png}" alt="로그인사진">
            <p> <b>"Muse On"</b> <br> 음악을 사랑하는 이들을 위한 다양한 음반을 <br> 만날 수 있는 전문 판매 사이트입니다. </p>
        </div>

            <div class="rightForm">

                <div class="logoNm">
                    <h4>회원 로그인</h4>
                </div>
                <div class="title">

                    <form role="form" method="post" action="/login" >
                        <div class="form-group logb">
                            <label class="logform" th:for="username">ID</label>
                            <input type="text" name="username" class="form-control Log" placeholder="아이디를 입력해주세요">
                        </div>
                        <div class="form-group logb">
                            <label class="logform " th:for="password">PASSWORD</label>
                            <input type="password" name="password" id="password" class="form-control Log" placeholder="비밀번호를 입력해주세요">
                        </div>
                        <p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>



                        <div class="bottomB">
                            <button class="btn loginB">로그인</button>
                            <button type="button" class="btn logoutB" onClick="location.href='/members/new'">회원가입</button>
                            <hr>
                        </div>
                        <div class="weblogin">
                           <a href="/oauth2/authorization/kakao" class="k_login1">
                                <img src="/image/kakao_login.png" alt="카카오 로그인">
                           </a>
                           <a href="/oauth2/authorization/naver" class="k_login2">
                                <img src="/image/naver_logo.png" alt="네이버 로그인" class="k_login2-1">
                           </a>
                           <a href="/oauth2/authorization/google" class="k_login3">
                                <img src="/image/google_logo.png" alt="구글 로그인" class="k_login3-1">
                           </a>
                        </div>

                        <!--<div>

                        </div>-->

                    </form>

                </div>


            </div>
    </div>
</div>

</html>
