<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">


<th:block layout:fragment="css">
    <link th:href="@{/css/mypage.css}" rel="stylesheet">
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/member.js}"></script>
</th:block>


<div layout:fragment="content">

    <div class="back2">
        <a th:href="@{/}">
            <img src="/image/back3.jpg" alt="뒤로가기" onclick="history.back(-1)" class="back2I">
        </a>
    </div>


    <div th:class="mypage_wrap">

        <div class="write">
            <h1>My Page</h1>
        </div>

        <div class="container">

            <div th:class="mpbox_wrap">

                <div th:class="mp_box" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                    <a href="/admin/item/new">
                        <p>상품 등록</p>
                        <img th:class="icon_mp" th:src="@{/image/plus.png}" alt="banner_img">
                    </a>
                </div>

                <div th:class="mp_box" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                    <a href="/admin/items">
                        <p>상품 관리</p>
                        <img th:class="icon_mp" th:src="@{/image/manage.png}" alt="banner_img">
                    </a>
                </div>

                <div th:class="mp_box" sec:authorize="isAuthenticated()">
                    <a href="/members/modify" >
                        <p>내 정보</p>
                        <img th:class="icon_mp" th:src="@{/image/notice.png}" alt="banner_img">
                    </a>
                </div>

                <div th:class="mp_box" sec:authorize="isAnonymous()">
                    <a href="/members/login" >
                        <p>로그인</p>
                        <img th:class="icon_mp" th:src="@{/image/login.png}" alt="banner_img">
                    </a>
                </div>


                <div th:class="mp_box"  sec:authorize="hasAnyAuthority('ROLE_USER')">
                    <a href="/orders">
                        <p>주문 내역</p>
                        <img th:class="icon_mp" th:src="@{/image/list.png}" alt="banner_img">
                    </a>
                </div>


                 <div th:class="mp_box"  sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                    <a href="/inquiries/admin/list">
                        <p>1 : 1 문의</p>
                        <img th:class="icon_mp" th:src="@{/image/contact.png}" alt="banner_img">
                    </a>
                </div>
                <div th:class="mp_box"  sec:authorize="hasAnyAuthority('ROLE_USER')">
                    <a href="/inquiries/list">
                        <p>1 : 1 문의</p>
                        <img th:class="icon_mp" th:src="@{/image/contact.png}" alt="banner_img">
                    </a>
                </div>

                <div th:class="mp_box"  sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                    <a href="/admin/orders">
                        <p>모든 회원<br>주문 내역</p>
                        <img th:class="icon_mp" th:src="@{/image/list.png}" alt="banner_img">
                    </a>
                </div>

                <div th:class="mp_box"  sec:authorize="isAuthenticated()">
                    <a href="/members/logout">
                        <p>로그아웃</p>
                        <img th:class="icon_mp" th:src="@{/image/logout.png}" alt="banner_img">
                    </a>
                </div>

               <!-- <div th:class="mp_box" sec:authorize="isAnonymous()">
                    <p>고객센터</p>
                    <img th:class="icon_mp" th:src="@{/image/service.png}" alt="banner_img" >
                    <span>1588-1234</span>
                </div>-->

                <!-- 고객센터 텍스트와 이미지 -->
                <div  th:class="mp_box" sec:authorize="isAnonymous()">
                    <p id="customerServiceText" style="cursor:pointer;">고객센터</p>
                    <img id="serviceImage" th:class="icon_mp" th:src="@{/image/service.png}" alt="banner_img" style="cursor:pointer;">
                    <span id="phoneNumber" style="display:none;">1588-1234</span>
                </div>
            </div>




        </div>


    </div>



</div>


</html>
