<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
  <footer >

    <div class="f_center">
      <!-- 회사 정보 섹션 -->
      <div class="f_left">
        <h3>MUSE ON</h3>
        <address>
          <span>서울특별시 강남구 뮤즈온</span>
          <span>사업자등록번호 : 1234-456785 | 통신판매업신고 : 강남 00호</span>
          <span>책임자 : 박소영 , 서영경</span><br>
          <span>Email : museon@museon.com</span>
          <span>호스팅 제공자 뮤즈온커뮤니케이션</span><br>
          <span>Copyright © 2025 Museon. 모든 권리 보유.</span>
        </address>
      </div>

      <!-- 고객 지원 섹션 -->
      <div class="f_right">
        <h3>고객 센터</h3>
        <address>
          <span>서울특별시 강남구 뮤즈온</span>
          <span>Tel : 1588 - 1234</span>
          <span>Fax : 02 - 0000 - 0000</span>
        </address>
      </div>
    </div>


  </footer>
</div>
</html>
