
.nav_bar {
    width: 100%;
    height: 70px;
    /*position: absolute;
    top: 0;*/
    font-weight: bold;

    background-color: rgba(248, 247, 247, 0.9);

}

.navigation {
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    cursor: pointer;
}

.nav_l {
    width: 70px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_l a {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
}

.nav_l a:hover {
    text-decoration: none;
    color: #333333;
}

.nav_l a > h3 {
    margin-bottom: 0;
}

.icon_img {
    width: 100%;
    height: 100%;
    display: block;
}

.nav_c {
    width: 470px;
    height: 75%;
    font-size: 15px;
    display: flex;
    justify-content: center;
    /*background-color: rgba(248, 247, 247, 0.9);
    border-radius: 50px;*/
}

.nav_c ul {
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_c ul a:hover {
    opacity: 0.7;
    text-decoration: none;
    color: #666666;
}

.nav_r {
    width: 140px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_r a:hover {
    opacity: 0.7;
}

.bag_img {
    width: 35px;
    height: 35px;
    display: block;
}

.mypage_img {
    width: 50px;
    height: 50px;
    display: block;
    margin-right: 10px;
}
