<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">


<th:block layout:fragment="css">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/swiper.css}" rel="stylesheet">
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/swiper.js}"></script>
</th:block>


<div layout:fragment="content">

    <!-- Swiper 컨테이너 -->
    <div class="swiper-container1 mainImg_box">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <!--h1 th:class="swiper_h1">RECORD SHOP</h1>-->
                <img class="main_img" th:src="@{/image/slide.png}" alt="main_img">
            </div>
            <div class="swiper-slide">
                <img class="main_img" th:src="@{/image/slide2.png}" alt="main_img">
            </div>
             <div class="swiper-slide">
                 <img class="main_img" th:src="@{/image/slide3.png}" alt="main_img">
             </div>
             <div class="swiper-slide">
                 <img class="main_img" th:src="@{/image/slide4.png}" alt="main_img">
             </div>
        </div>

        <!-- 페이지네이션 -->
        <div class="swiper-pagination"></div>

        <!-- 내비게이션 -->
        <div class="swiper-button-next swiper-button-next1"></div>
        <div class="swiper-button-prev swiper-button-prev1"></div>
    </div>


    <div th:id="wrap" >

        <main>


            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


<!--            <div class="recommend">-->
<!--                <h2>추천 상품</h2>-->
<!--                <div id="recommendations-container" class="recommendations-container">-->
<!--                    &lt;!&ndash; 여기에 추천 상품을 동적으로 추가할 예정 &ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->


            <script>
                // window.onload = async function () {
                //     try {
                //         // member_id를 하드코딩으로 예시
                //         const member_id = 2;  // 실제 로그인된 사용자 ID로 대체해야 합니다.
                //
                //         // API 호출 (FastAPI에서 추천 상품 데이터 받기)
                //         const response = await axios.get(`http://127.0.0.1:8000/recommend/${member_id}`);
                //         const recommendations = response.data.recommendations;
                //
                //         if (recommendations.length === 0) {
                //             alert("추천 상품이 없습니다.");
                //             return;
                //         }
                //
                //         // 추천 상품을 카드 형태로 생성하여 div에 삽입
                //         const container = document.querySelector("#recommendations-container");
                //         recommendations.forEach(recommend => {
                //             const productDiv = document.createElement("div");
                //             productDiv.classList.add("product-card");
                //
                //             productDiv.innerHTML = `
                //     <img src="${recommend.item_img}" alt="${recommend.item_nm}" class="product-image">
                //     <div class="product-link">
                //         <h6 class="product-detail">${recommend.item_detail}</h6>
                //         <p class="product-name">${recommend.item_nm}</p>
                //         <p class="product-price">${recommend.price}원</p>
                //     </div>
                // `;
                //
                //             container.appendChild(productDiv);
                //         });
                //     } catch (error) {
                //         console.error("추천 상품을 불러오는 데 실패했습니다.", error);
                //     }
                // };

            //     window.onload = async function () {
            //         try {
            //             // member_id를 하드코딩으로 예시
            //             const member_id = 2;  // 실제 로그인된 사용자 ID로 대체해야 합니다.
            //
            //             // API 호출 (FastAPI에서 추천 상품 데이터 받기)
            //             const response = await axios.get(`http://127.0.0.1:8000/recommend/${member_id}`);
            //             const recommendations = response.data.recommendations;
            //
            //             if (recommendations.length === 0) {
            //                 alert("추천 상품이 없습니다.");
            //                 return;
            //             }
            //
            //             // 추천 상품을 카드 형태로 생성하여 div에 삽입
            //             const container = document.querySelector("#product-cards-container");  // 수정된 container ID
            //
            //             recommendations.forEach((recommend, index) => {
            //                 const productDiv = document.createElement("div");
            //                 productDiv.classList.add("product-card");
            //
            //                 productDiv.innerHTML = `
            //     <a href="${recommend.link}" class="product-link">
            //         <h5 class="prod_num">${index + 1}</h5>  <!-- index + 1을 JavaScript에서 처리 -->
            //         <img src="${recommend.item_img}" alt="${recommend.item_nm}" class="product-image">
            //         <div class="product-info">
            //             <h6 class="product-name">${recommend.item_detail}</h6>
            //             <p class="product-price">${recommend.price}원</p>
            //             <p class="product-detail">${recommend.item_nm}</p>
            //         </div>
            //     </a>
            // `;
            //
            //                 container.appendChild(productDiv);
            //             });
            //         } catch (error) {
            //             console.error("추천 상품을 불러오는 데 실패했습니다.", error);
            //         }
            //     };



            </script>


            <!--  추천 상품 div  -->
            <div id="product_rec" th:if="${username != null}">
                <div class="h1_box">
                    <h1 class="product_h1" th:text="${username} + '님 이런 음악은 어때요?'"></h1>
                    <p class="prod_svg"><img src="/image/chart.svg"></p>
                </div>

                <div class="card_wrap" id="product-cards-container">
                    <a th:href="@{/item/list}">

                    </a>
                </div>
            </div>

            <th:block th:each="category, iterStat : ${T(com.recordshop.constant.Category).values()}">
                <!-- 카테고리 이름을 한 번만 출력하기 위해 조건을 걸어줍니다 -->
                <th:block th:if="${category == T(com.recordshop.constant.Category).LP}">
                    <div class="category">Best LP</div>
                    <a class="plus" th:href="@{/item/list}">
                        <img class="plusImg" th:src="@{/image/icon_more.png}" alt="더보기">
                    </a>
                </th:block>

                <th:block th:if="${category == T(com.recordshop.constant.Category).ALBUM}" class="long_wrap">
                    <div class="category album" style="width: 250px">New ALBUM</div>
                    <a class="plus" c>
                        <img class = "plusImg" th:src="@{/image/icon_more.png}" alt="더보기">
                    </a>
                </th:block>

                <th:block th:if="${category == T(com.recordshop.constant.Category).DVD}">
                    <div class="category dvd" style="width: 315px">Commend DVD</div>
                    <a class="plus" th:href="@{/item/list}">
                        <img class = "plusImg" th:src="@{/image/icon_more.png}" alt="더보기">
                    </a>
                </th:block>

                <!-- 해당 카테고리에 속하는 아이템만 필터링하여 출력 -->
                <div class="section_wrap swiper-container-custom" id="swiper-container-${iterStat.index}">
                    <div class="swiper-wrapper">
                        <th:block th:each="item : ${items}" th:if="${item.category == category}">
                            <div class="swiper-slide">
                                <section>
                                    <a th:href="'/item/' + ${item.id}">
                                        <div class="section_in">
                                            <div th:class="height_box">
                                                <img th:src="@{${item.imgUrl}}" alt="상품 이미지">

                                                <div class="item-detail-wrapper">
                                                    <div class="item-detail-content" th:text="${item.itemDetail}"></div>
                                                </div>
                                                <p th:text="${item.itemNm}" class="itemNm"></p>
                                                <p class="price">[[${item.price}]]원</p>
                                            </div>
                                            <div class="icon_box">
                                                <i class="bi bi-caret-left"></i>
                                                <i class="bi bi-pause"></i>
                                                <i class="bi bi-caret-right"></i>
                                            </div>
                                        </div>
                                    </a>
                                </section>
                            </div>
                        </th:block>
                    </div>
                </div>

                <!-- long_box는 반복문에 영향을 받지 않도록 반복문 외부에 배치 -->
                <th:block th:if="${category == T(com.recordshop.constant.Category).ALBUM}">
                    <div class="long_box_wrap">
                        <div class="long_box">
                            <div class="long_img">
                                <img src="/image/long_1.jpg" alt="긴 배너">
                            </div>
                            <div class="long_img">
                                <img src="/image/long_2.jpg" alt="긴 배너2">
                            </div>
                            <div class="long_img">
                                <img src="/image/long_3.jpg" alt="긴 배너2">
                            </div>
                            <div class="button-next">
                                <img src="/image/right.png" alt="next">
                            </div>
                            <div class="button-prev">
                                <img src="/image/left.png" alt="prev">
                            </div>
                        </div>
                    </div>
                </th:block>
            </th:block>

        </main>


    </div>

    <!-- width:100% 앨범 발매 안내 배너(슬라이드) -->
    <div id="background_color">

        <div class="bs_wrap">
            <div class="promotion">
                <h4 class="h4_prom">초도한정 특전 SHOE CHARM(랜덤 1종) 증정</h4>

                <!-- 슬라이드 전환 버튼 -->
                <span class="prev span">&lt;</span>
                <span class="next span">&gt;</span>
            </div>

            <div id="slide_wrap">

                <ul class="slider">
                    <li><img src="/image/slider.jpg" alt="slider image"></li>
                    <li><img src="/image/slider2.jpg" alt="slider image"></li>
                    <li><img src="/image/slider3.jpg" alt="slider image"></li>
                    <li><img src="/image/slider4.jpg" alt="slider image"></li>
                    <li><img src="/image/slider5.jpg" alt="slider image"></li>
                </ul>

            </div>

        </div>

    </div>

</div>
